In [1]:
import os
import sys
sys.path.append(os.path.dirname(sys.path[0]))

import pandas as pd

In [2]:
df1 = pd.read_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/query_data/transaction/transaction_100000.csv")
df2 = pd.read_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/query_data/transaction/transaction_200000.csv")
df3 = pd.read_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/query_data/transaction/transaction_300000.csv")
df4 = pd.read_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/query_data/transaction/transaction_400000.csv")
df5 = pd.read_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/query_data/transaction/transaction_500000.csv")
df6 = pd.read_csv("/Users/nguyenhuyhai/20231/bigdata/group21_problem4/data/query_data/transaction/transaction_last.csv")

In [3]:
df = pd.concat([df1,df2,df3,df4,df5,df6])

In [4]:
df = df.drop_duplicates()

In [7]:
df

,_id,block_timestamp,from_address,to_address,value
0,transaction_0xdae89db3da32580a59bfb695bdb581fe...,1697348039,0x04d0f242a3a291a6308a8be985dfb77c04eb726b,0x1ef1b6bb65cc49c3819ec9f2053000984cd7beb7,24410000000000000
1,transaction_0xa7e6376f9cb2d784002ebdbe9e2ec940...,1697347991,0x04d0f242a3a291a6308a8be985dfb77c04eb726b,0x881d40237659c251811cec9c364ef91dc08d300c,0
2,transaction_0x47a99a11bcfcf917770a9cfbc190e959...,1697347943,0x04d0f242a3a291a6308a8be985dfb77c04eb726b,0xc2ff810b1c486b4e24dba8de19d1977c98f6ab9d,0
3,transaction_0x89e6b75e8d1e4699002632646b2bb73e...,1696780595,0x04d0f242a3a291a6308a8be985dfb77c04eb726b,0x1ef1b6bb65cc49c3819ec9f2053000984cd7beb7,25000000000000000
4,transaction_0x20e424e3c8122ead879f8f918691dd20...,1696780355,0x04d0f242a3a291a6308a8be985dfb77c04eb726b,0x881d40237659c251811cec9c364ef91dc08d300c,0
...,...,...,...,...,...
1258750,transaction_0x6744785885f1d7f2e37a403d98434e85...,1693698359,0xf23d02ccb960b0b7214fc3873eaec447b4c4eef2,0x881d40237659c251811cec9c364ef91dc08d300c,0
1258751,transaction_0xe1b30ccdf6edc6269368aebaeb34da10...,1693698275,0xf23d02ccb960b0b7214fc3873eaec447b4c4eef2,0x3fc91a3afd70395cd496c647d5a6cc9d4b2b7fad,0
1258752,transaction_0xbd2980621f94f05cb119e22207783280...,1693698203,0xf23d02ccb960b0b7214fc3873eaec447b4c4eef2,0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce,0
1258753,transaction_0x25190d1ce5728203723c398252570a9c...,1698754295,0xf37754664a86ed6769463db26c1f8eb67723ae3a,0x69a9b5e6d9c14625c2dfb7def0a1a7cc8364a11b,500000000000000000
1258754,transaction_0x72daa3b453c34437601ab573bc3251fd...,1696883735,0xf944ec340afdbc42f2015b08c6acc1531a65b433,0x0f5d2fb29fb7d3cfee444a200298f468908cc942,0

In [8]:
user_frequency = df.groupby("from_address").agg({"block_timestamp":list}).reset_index().rename({"from_address":"user","block_timestamp":"block_timestamp_list"}, axis=1)
user_frequency['id'] = '0x1_'+user_frequency['user']

In [9]:
user_frequency

,user,block_timestamp_list,id
0,0x00000000000124d994209fbb955e0217b5c2eca1,"[1697665163, 1697662847, 1697662835, 169766235...",0x1_0x00000000000124d994209fbb955e0217b5c2eca1
1,0x000000000002e33d9a86567c6dfe6d92f6777d1e,"[1699161179, 1697215055, 1696329983, 169439177...",0x1_0x000000000002e33d9a86567c6dfe6d92f6777d1e
2,0x00000000005ef87f8ca7014309ece7260bbcdaeb,"[1694830859, 1694830763, 1694830619, 1694830595]",0x1_0x00000000005ef87f8ca7014309ece7260bbcdaeb
3,0x000000000062c524bd4d32f62f2e569bf171ffdd,[1697600387],0x1_0x000000000062c524bd4d32f62f2e569bf171ffdd
4,0x00000000051cbce3fd04148cce2c0adc7c651829,"[1699738511, 1699738463, 1699015355, 169901522...",0x1_0x00000000051cbce3fd04148cce2c0adc7c651829
...,...,...,...
100167,0xfffed1a6b1e22c7ddb1ee12be2958dfd32083e36,"[1694009411, 1693833659, 1693833647]",0x1_0xfffed1a6b1e22c7ddb1ee12be2958dfd32083e36
100168,0xffff70405d31ee046aa06752c829a55c15b3e512,"[1698183743, 1698183695, 1698183635, 169818357...",0x1_0xffff70405d31ee046aa06752c829a55c15b3e512
100169,0xffffc32855b2620c86f413065af8c58ec68d474d,"[1697845703, 1697814695, 1697743043, 169774456...",0x1_0xffffc32855b2620c86f413065af8c58ec68d474d
100170,0xffffc801a3e4ceddd58b6280006819e14129145b,"[1699632935, 1699569383, 1699541459, 169954141...",0x1_0xffffc801a3e4ceddd58b6280006819e14129145b
100171,0xffffffff7a5cb56bbccb9dfaff17bb2b26a3d71c,"[1699791851, 1698825119, 1695940991, 169574576...",0x1_0xffffffff7a5cb56bbccb9dfaff17bb2b26a3d71c

In [10]:
user_frequency.to_csv("../data/prep_data/user_frequency_transaction.csv", index=False)

In [11]:
df['value'] =df['value'].apply(eval)

In [21]:
user_info = df.groupby('from_address')['value'].agg(sum).reset_index()

/var/folders/hh/60pmh2sx0f3bb29z6_vx_9tm0000gn/T/ipykernel_96747/1788983624.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  user_info = df.groupby('from_address')['value'].agg(sum).reset_index()

In [22]:
user_info.rename({'from_address':'user','value':'amount'}, axis=1, inplace=True)

In [23]:
user_info['id'] = '0x1_'+user_info['user']
user_info['asset'] = '0x0000000000000000000000000000000000000000'
user_info['event_type'] = 'TRANSFER_COIN'
user_info['volume_type'] = 'sending'

In [24]:
user_info.to_csv("../data/prep_data/user_info_transaction.csv", index=False)

In [17]:
uses_interact = df.groupby(['to_address','from_address'])['value'].count().reset_index(name='count')

In [18]:
uses_interact.to_csv("../data/prep_data/uses_interact_transaction.csv", index=False)

In [19]:
uses_interact

,to_address,from_address,count
0,0x0000000000000000000000000000000000000000,0x00ed3fa9c29eb984291e6ac70b68955ff0a5a113,8
1,0x0000000000000000000000000000000000000000,0x014b328d5d55751d7e8fd45cb0683e02d884dc28,12
2,0x0000000000000000000000000000000000000000,0x020744ec3aae6b6806c25f1abb346a9b77f4eeaf,11
3,0x0000000000000000000000000000000000000000,0x026815624ac76c88ac92ab490035dc539558275d,4
4,0x0000000000000000000000000000000000000000,0x0365ae3843de18065859541bb65ff66e66d98e74,11
...,...,...,...
1161170,0xfffffffff15abf397da76f1dcc1a1604f45126db,0x0a5984f86200415894821bfefc1c1de036dbf9e7,1
1161171,0xfffffffff15abf397da76f1dcc1a1604f45126db,0x2904790cdb329bbb292d1b79f6528a79ebd067ee,1
1161172,0xfffffffff15abf397da76f1dcc1a1604f45126db,0xa52553693e334ec441fe91822a7635fefa3c14a3,2
1161173,0xfffffffff15abf397da76f1dcc1a1604f45126db,0xcd6b2f67abc1f1a78941c486d319228c8ee2c8f2,1
1161174,0xfffffffff15abf397da76f1dcc1a1604f45126db,0xdd046ca033c773850073c36cce14d0acab9842f7,1